@model IEnumerable<ASPNETNeedAJob.Models.PostulationViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idOffrePostulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEmployePostulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datePostulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statutPostulation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idOffrePostulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEmployePostulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datePostulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statutPostulation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
